<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>用户注册系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">用户注册系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">用户注册</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    注册成功！
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/register/save}"
                        th:object="${user}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">用户ID（邮箱）</label>
                        <input
                                class="form-control"
                                id="userId"
                                name="userId"
                                placeholder="请输入用户ID（邮箱格式）"
                                th:field="*{userId}"
                                type="email"
                        />
                        <p th:errors = "*{userId}" class="text-danger"
                           th:if="${#fields.hasErrors('userId')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">邮箱地址</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="请输入邮箱地址（可选）"
                                th:field="*{email}"
                                type="email"
                        />
                        <p th:errors = "*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">密码</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="请输入密码"
                                th:field="*{password}"
                                type="password"
                        />
                        <p th:errors = "*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">用户类型</label>
                        <select class="form-control" id="type" name="type" th:field="*{type}">
                            <option value="register">普通用户</option>
                            <option value="auth">授权用户</option>
                            <option value="enterprise">企业用户</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">最大设备数</label>
                        <input
                                class="form-control"
                                id="maxDevices"
                                name="maxDevices"
                                placeholder="最大设备数"
                                th:field="*{maxDevices}"
                                type="number"
                                min="1"
                                max="100"
                        />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">注册</button>
                        <span>已有账号？ <a th:href="@{/login}">点击登录</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>